@import 'compass';
@include global-reset;
@import "partials/base";
@import "partials/general/modals";
@import "partials/gameboard/base";
@import "partials/gameboard/scoreTable";
@import "partials/modals/scoreboard";
@import "partials/animations";

body{
	font-family:$mediumFontFamily;
	background-color:$darkColor;
	color:$darkColor;
	/*
	background:url('../images/wood_texture-7.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    */
}


