@import "vendor/fontello";
@import "vendor/bootstrap";
@import 'compass';
@include global-reset;
@import "partials/base";
@import "partials/general/loader";
@import "partials/general/modals";
@import "partials/gameboard/base";
@import "partials/gameboard/scoreTable";
@import "partials/modals/addPlayers";
@import "partials/modals/scoreboard";
@import "partials/animations";

body{
	font-family:$mediumFontFamily;
	background-color:$darkColor;
	color:$darkColor;
}


