<!DOCTYPE html>

<html lang="en" manifest="manifest.appcache">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" href="stylesheets/mainStyle.css"> -->
        <link rel="stylesheet" type="text/css" href="stylesheets/mainStyle.min.css">
        <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
        <title>Mölkky score</title>
    </head>
    <body ng-app="angular-app">
        <!-- Loader animation -->
        <div class="loader-container">
          <span class="loading-title">starting application</span>
          <span class="dot dot-1"></span>
          <span class="dot dot-2"></span>
          <span class="dot dot-3"></span>
          <span class="dot dot-4"></span>
          <span class="dot dot-5"></span>
          <span class="dot dot-6"></span>
        </div><!-- end Loader animation -->

        <!-- Modal start -->
        <div class="modal fade" id="modalStart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-start">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">What do you want to do?</h4>
                </div>
                <div class="modal-body" >
                    <button ng-click="quickGame()" id="btn-quickGame-start" type="button" class="btn btn-default btn-lg btn-block">Quick game</button>
                    <button id="btn-signIn-start"type="button" class="btn btn-default btn-lg btn-block">Sign in</button>       
                </div>
                <div class="modal-footer" >
                    <a href="#" class="pull-left">Create account</a>
                </div>
            </div>
          </div>
        </div> <!-- end Modal start -->

        <!-- Modal add players -->
        <div class="modal fade" id="modalAddPlayers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-addPlayers">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Enter player names..</h4>
              </div>
                <ul class="list-group">
                    <li id="li-player-{{player.index}}" class="list-group-item" ng-repeat="player in players">
                        {{player.name}}
                        <button type="button" class="close" ng-click="btnRemovePlayer(player.index)">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </li>
                </ul>
                <div class="modal-body">
                    <div class="input-group input-group-lg" ng-show="players.length<8">
                      <input type="text" class="form-control typeahead" required placeholder="Player {{players.length + 1}}" autocomplete="off">
                      <span id="addPlayerIcon" ng-click="addPlayer()" class="input-group-addon icon-plus"></span>
                    </div>
                    <div class="max-message" ng-show="players.length>7">Max. players reached</div>
                </div>
                <div class="alert alert-warning" role="alert">
                    This is not a valid name
                </div>
                <div class="modal-footer">
                    <button ng-show="players.length > 1" ng-click="shufflePlayers()" type="button" class="btn btn-default btn-icon-only pull-left"><span class="icon-shuffle"></span></button>
                    <button ng-click="btnReady()" type="button" class="btn btn-default">Ready</button>
              </div>
            </div>
          </div>
        </div> <!-- end Modal add players -->

        <!-- Modal scoreboard -->
        <div class="modal fade" id="modalScoreboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-scoreboard">
          <div class="modal-dialog modal-md modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="active"><a href="#concisePane" role="tab" data-toggle="tab"><h4 class="modal-title" id="myModalLabel">Scoreboard</h4></a></li>
                      <li><a href="#detailedPane" role="tab" data-toggle="tab">Details</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <!-- pane1 -->
                      <div class="tab-pane fade in active" id="concisePane">
                         <ul class="list-group">
                            <li class='list-group-item' ng-repeat="player in players" ng-class="{winner: player.winner,second:player.ranking == 2,third:player.ranking == 3,fourth:player.ranking == 4,fifth:player.ranking == 5,sixth:player.ranking == 6,seventh:player.ranking == 7,eight:player.ranking == 8}">   <span class='pull-right' ng-class="{disqualified: player.disqualified}">{{player.score}}</span>
                                <p>{{player.name}}</p>
                                
                            </li>
                        </ul>
                      </div>
                        <!-- pane2 -->
                      <div class="tab-pane fade" id="detailedPane">
                            <table>
                                <tr>
                                     <th ng-repeat="player in players" ng-class="{winner: player.winner}">
                                        <p>{{player.name}} </p>
                                    </th>
                                </tr>
                                <tr ng-repeat="i in throwNumberArrayForNgRepeat track by $index">
                                    <td ng-repeat="player in players" ng-class="{out: player.scoreHistory[$parent.$index] == 50, disqualified:player.scoreHistory[$parent.$index] == 'X', empty:player.scoreHistory[$parent.$index] == undefined}">
                                        {{player.scoreHistory[$parent.$index]}}
                                    </td>
                                </tr>
                            </table>
                      </div>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button id="btn-exit-scoreboard" type="button" class="btn btn-default pull-left" ng-click="btnExit()">Exit</button>
                    <button id="btn-newGame-scoreboard" type="button" class="btn btn-default pull-left" ng-click="btnNewGame()">New game</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
              </div>
            </div>
          </div>
        </div> <!-- end Modal scoreboard -->

         <!-- Modal options -->
        <div class="modal fade" id="modalOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-options">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Options</h4>
                </div>
                <div class="modal-body" >
                    <button ng-click="restartGame()" id="btn-restart-options" type="button" class="btn btn-default btn-lg btn-block">Restart game</button>
                    <button ng-click="newGame()" id="btn-new-options" type="button" class="btn btn-default btn-lg btn-block">New game</button>
                    <button ng-click="undoLast()" ng-disabled="!gameStarted" id="btn-undo-options" type="button" class="btn btn-default btn-lg btn-block">Undo last</button>
                    <button ng-click="exitGame()" id="btn-exit-options" type="button" class="btn btn-default btn-lg btn-block">Exit game</button>       
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Continue</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal options -->

        <!-- Modal new players -->
        <div class="modal fade" id="modalNewPlayers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-newPlayers">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">New game</h4>
                </div>
                <div class="modal-body">
                    Same players?
                </div>
                <div class="modal-footer">
                    <button ng-show="stillPlayersInTheGame" id="btn-cancel-newPlayers" type="button" class="btn btn-default btn-cancel pull-left" ng-click="btnCancel()">Cancel</button>
                    <button id="btn-no-newPlayers" type="button" class="btn btn-default" ng-click="btnNo()">No</button>
                    <button id="btn-yes-newPlayers" type="button" class="btn btn-default" ng-click="btnYes()">Yes</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal new players -->

        <!-- Modal confirm -->
        <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-confirm">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" >
                   Are you sure?       
                </div>
                <div class="modal-footer" >
                    <button id="btn-no-confirm" type="button" class="btn btn-default" ng-click="btnNo()">No</button>
                    <button id="btn-yes-confirm" type="button" class="btn btn-default" ng-click="btnYes()">Yes</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal start -->

        <!-- Modal bosklappers -->
        <div class="modal fade" id="modalBosklappers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-bosklappers">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Bosklappers activated!</h4>
                </div>
                <div class="modal-footer" >
                    <button id="btn-cancel-bosklappers" type="button" class="btn btn-default btn-cancel pull-left" ng-click="btnCancel()">Cancel</button>
                    <button id="btn-ok-bosklappers" type="button" class="btn btn-default" ng-click="btnOk()">Ok</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal start -->

        <table id="mainTable" ng-controller="angular-gameBoard">
            <tr>
                <td class="td-colspanned" colspan="5">
                    <table id="scoreTable" ng-click="showScoreboard()">
                        <tr>
                            <td id="score-table-item-{{player.index}}" ng-repeat="player in players|rangeFirstRow" ng-class="{active: player.myTurn,disqualified: player.disqualified}" class="score-table-item">
                                <p class='playerName'>{{player.name}}</p>
                                <p class="score" ng-class="{first: $index == 0}">{{player.score}}</p>
                                <p class='misses' ng-show="player.misses == 1">x</p>
                                <p class='misses' ng-show="player.misses == 2">xx</p>
                            </td>
                        </tr>
                        <tr ng-hide="players.length < 5">
                            <td id="score-table-item-{{player.index}}" ng-repeat="player in players|rangeSecondRow" ng-class="{active: player.myTurn,disqualified: player.disqualified}" class="score-table-item">
                                <p class='playerName'>{{player.name}}</p>
                                <p class="score" ng-class="{first: $index == 0}">{{player.score}}</p>
                                <p class='misses' ng-show="player.misses == 1">x</p>
                                <p class='misses' ng-show="player.misses == 2">xx</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td id="td-options" ng-click="options()"><img src="images/options.png" alt="options"/></td>
            </tr>
            <tr>
                <td id="td-player-name" class="td-colspanned" colspan="5" ng-click="processThrow()">
                    <span class="icon-right-open-outline pull-left"></span>
                    <p>{{activePlayer.name}}</p>

                </td>
                <td id="td-0" class="td-score-number" ng-click="toggleNumber(0)">0</td>
            </tr>
            <tr id="xs-tr-1">
                <td id="td-1" class="td-score-number" ng-click="toggleNumber(1)">1</td>
                <td id="td-2" class="td-score-number" ng-click="toggleNumber(2)">2</td>
                <td id="td-3" class="td-score-number" ng-click="toggleNumber(3)">3</td>
                <td id="td-4" class="xs-td-row-2 td-score-number" ng-click="toggleNumber(4)">4</td>
                <td id="td-5" class="xs-td-row-2 td-score-number" ng-click="toggleNumber(5)">5</td>
                <td id="td-6" class="xs-td-row-2 td-score-number" ng-click="toggleNumber(6)">6</td>
            </tr>
            <tr id="xs-tr-3">
                <td id="td-7" class="td-score-number" ng-click="toggleNumber(7)">7</td>
                <td id="td-8" class="td-score-number" ng-click="toggleNumber(8)">8</td>
                <td id="td-9" class="td-score-number" ng-click="toggleNumber(9)">9</td>
                <td id="td-10" class="xs-td-row-4 td-score-number" ng-click="toggleNumber(10)">10</td>
                <td id="td-11" class="xs-td-row-4 td-score-number" ng-click="toggleNumber(11)">11</td>
                <td id="td-12" class="xs-td-row-4 td-score-number" ng-click="toggleNumber(12)">12</td>
            </tr>
        </table>
        <!--  
        <script src="scripts/vendor/angular.min.js"></script>
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/bootstrap3-typeahead.min.js"></script>
        <script src="scripts/bootstrap/modal.js"></script>
        <script src="scripts/bootstrap/tab.js"></script>
        <script src="scripts/bootstrap/transition.js"></script> 
        <script src="scripts/utilities.js"></script>
        <script src="scripts/positioning.js"></script>
        <script src="scripts/angular/base/angular-app.js"></script>
        <script src="scripts/angular/angular-controller-addPlayer.js"></script>
        <script src="scripts/angular/angular-controller-start.js"></script>
        <script src="scripts/angular/angular-controller-gameBoard.js"></script>
        <script src="scripts/angular/angular-controller-scoreboard.js"></script>
        <script src="scripts/angular/angular-controller-newPlayers.js"></script>
        <script src="scripts/angular/angular-controller-options.js"></script>
        <script src="scripts/angular/angular-controller-confirm.js"></script>
        -->
        <script src="scripts/dist/script.js"></script>
    </body>
</html>