<!DOCTYPE html>

<html lang="en" manifest="manifest.appcache">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Free web app that makes keeping score on the game named 'mölkky' (also known as number kubb) as easy as pie"></meta>
        <meta name="keywords" content="molkky mölkky score app free"></meta>
        <meta property="fb:app_id" content="207575136079478" /> 
        <meta property="og:url" content="http://molkkyscore.com/" />
        <meta property="og:title" content="Mölkky score | web app" />
        <meta property="og:description" content="Free web app that makes keeping score on the game named 'mölkky' as easy as pie." />
        <meta property="og:image" content="http://molkkyscore.com/images/share1200x630.png" /> 
        <title>Mölkky score | web app</title>
        <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
        <link rel="stylesheet" type="text/css" href="stylesheets/mainStyle.css">
        <!-- <link rel="stylesheet" type="text/css" href="stylesheets/mainStyle.min.css"> -->
        <!-- begin: google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-58033000-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- end: google analytics -->
    </head>
    <body ng-app="angular-app">

        <script>
        window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
        </script>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '207575136079478',
              xfbml      : true,
              version    : 'v2.2'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Modal start -->
        <div class="modal fade" id="modalStart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-start">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel">Mölkky Score</h1>
                </div>
                <div class="modal-body" >
                    <button ng-click="startGame()" id="btn-quickGame-start" type="button" class="btn btn-default btn-lg btn-block"><span>Start game</span></button>
                    <button ng-click="tutorial()" id="btn-tutorial-start" type="button" class="btn btn-default btn-lg btn-block"><span>Tutorial</span></button>
                    <button ng-click="about()" id="btn-about-start" type="button" class="btn btn-default btn-lg btn-block"><span>About</span></button>    
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <button id="btn-en-start" type="button" ng-click="En()" class="btn" ng-class="{'btn-primary':language == 'En','btn-default':language != 'En'}">En</button>
                            <button id="btn-fr-start" type="button" ng-click="Fr()" class="btn" ng-class="{'btn-primary':language == 'Fr','btn-default':language != 'Fr'}">Fr</button>
                        </div>
                    </div>
                    <div id="fb-root" style="position:absolute; left:-9999px; width:1px; height:1px;"></div>
                    <div class="share-icons__wrapper">
                        <div class="share-label">
                            <span>share</span>
                        </div>
                        <div class="share-icon__wrapper">
                            <img ng-click="shareFacebook()" src="images/facebook.svg" class="share-icon"/>
                        </div>
                        <div class="share-icon__wrapper">
                            <img ng-click="shareTwitter()" src="images/twitter.svg" class="share-icon"/>
                        </div> 
                    </div> 
                </div>
                <!-- <div class="modal-footer" >
                    <a href="#" class="pull-left">Create account</a>
                </div> -->
            </div>
          </div>
        </div> <!-- end Modal start -->
        
        <!-- Modal about -->
        <div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="myModalLabel">About</h2>
                </div>
                <div class="modal-body" >
                    <p>
                        molkkyScore.com is not a game in itself. It is a <strong>web app for keeping score on the game named "mölkky"</strong> (also known as number kubb). For more information on the actual game, you can refer to the excellent website <a href="http://www.molkky.com" target="_blank">www.molkky.com</a>.  
                    </p>
                    <p>
                        molkkyScore.com is developed by <a href="http://www.fredericaerts.com" target="_blank">Frederic Aerts</a>. Any questions, suggestions or bug reports can be directed to him via the email address <a href="mailto:info@molkkyScore.com" target="_top">info@molkkyScore.com</a>. Developers are encouraged to contribute by forking on <a href="https://github.com/fredericJos/molkkyScore" target="_blank">github</a>.
                    </p>
                    <p>
                        <strong>Tip: </strong>this web app keeps working, even when you don't have internet connection.
                    </p>
                </div>
                <!-- <div class="modal-footer" >
                </div> -->
            </div>
          </div>
        </div> <!-- end Modal about -->

        <!-- Loader animation -->
        <div class="loader-container">
          <span class="loading-title">loading application</span>
          <span class="dot dot-1"></span>
          <span class="dot dot-2"></span>
          <span class="dot dot-3"></span>
          <span class="dot dot-4"></span>
          <span class="dot dot-5"></span>
          <span class="dot dot-6"></span>
        </div><!-- end Loader animation -->

        <!-- Modal add players -->
        <div class="modal fade" id="modalAddPlayers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-addPlayers">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Enter player names..</h2>
              </div>
                <ul class="list-group">
                    <li id="li-player-{{player.index}}" class="list-group-item" ng-repeat="player in players">
                        {{player.name}}
                        <button type="button" class="close" ng-click="btnRemovePlayer(player.index)">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </li>
                </ul>
                <div class="modal-body">
                    <form ng-submit="addPlayer()" role="form">
                        <div class="input-group input-group-lg" ng-show="players.length<8">
                            <input type="text" class="form-control typeahead" required placeholder="{{placeholder}}" autocomplete="off">
                            <span id="addPlayerIcon" ng-click="addPlayer()" class="input-group-addon icon-plus"></span>
                        </div>
                        <button type="submit"></button> 
                    </form>
                    <div class="max-message" ng-show="players.length>7">Max. players reached</div>
                </div>
                <div class="alert alert-warning" role="alert">
                    This is not a valid name
                </div>
                <div class="modal-footer">
                    <button ng-show="players.length > 1" ng-click="shufflePlayers()" type="button" class="btn btn-default btn-icon-only pull-left"><span class="icon-shuffle"></span></button>
                    <button ng-click="btnReady()" type="button" class="btn btn-default btn-ready">Ready</button>
              </div>
            </div>
          </div>
        </div> <!-- end Modal add players -->

        <!-- Modal scoreboard -->
        <div class="modal fade" id="modalScoreboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-scoreboard">
          <div class="modal-dialog modal-md modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="active"><a id="scoreboard__overview__link" href="#concisePane" role="tab" data-toggle="tab">Scoreboard</a></li>
                      <li><a id="scoreboard__details__link" href="#detailedPane" role="tab" data-toggle="tab">Details</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <!-- pane1 -->
                      <div class="tab-pane fade in active" id="concisePane">
                         <ul class="list-group">
                            <li class='list-group-item' ng-repeat="player in players" ng-class="{winner: player.winner,second:player.ranking == 2,third:player.ranking == 3,fourth:player.ranking == 4,fifth:player.ranking == 5,sixth:player.ranking == 6,seventh:player.ranking == 7,eight:player.ranking == 8}">   <span class='pull-right' ng-class="{disqualified: player.disqualified}">{{player.score}}</span>
                                <p>{{player.name}}</p>
                                
                            </li>
                        </ul>
                      </div>
                        <!-- pane2 -->
                      <div class="tab-pane fade" id="detailedPane">
                            <table>
                                <tr>
                                     <th ng-repeat="player in players" ng-class="{winner: player.winner}">
                                        <p>{{player.name}} </p>
                                    </th>
                                </tr>
                                <tr ng-repeat="i in throwNumberArrayForNgRepeat track by $index">
                                    <td ng-repeat="player in players" ng-class="{out: player.scoreHistory[$parent.$index] == 50, disqualified:player.scoreHistory[$parent.$index] == 'X', empty:player.scoreHistory[$parent.$index] == undefined}">
                                        {{player.scoreHistory[$parent.$index]}}
                                    </td>
                                </tr>
                            </table>
                      </div>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button id="btn-exit-scoreboard" type="button" ng-hide="isTutorial" class="btn btn-default pull-left" ng-click="btnExit()">Exit</button>
                    <button id="btn-newGame-scoreboard" type="button" ng-hide="isTutorial" class="btn btn-default pull-left" ng-click="btnNewGame()">New game</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
              </div>
            </div>
          </div>
        </div> <!-- end Modal scoreboard -->

         <!-- Modal options -->
        <div class="modal fade" id="modalOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-options">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="myModalLabel">Options</h2>
                </div>
                <div class="modal-body" >
                    <button ng-click="restartGame()" ng-hide="isTutorial" id="btn-restart-options" type="button" class="btn btn-default btn-lg btn-block">Restart game</button>
                    <button ng-click="newGame()" ng-hide="isTutorial" id="btn-new-options" type="button" class="btn btn-default btn-lg btn-block">New game</button>
                    <button ng-click="undoLast()" ng-disabled="!gameStarted || (isTutorial && !isTutorialStepFive)" id="btn-undo-options" type="button" class="btn btn-default btn-lg btn-block">Undo last</button>
                    <button ng-click="exitGame()" id="btn-exit-options" type="button" class="btn btn-default btn-lg btn-block">Exit game</button>       
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Continue</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal options -->

        <!-- Modal new players -->
        <div class="modal fade" id="modalNewPlayers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-newPlayers">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">New game</h2>
                </div>
                <div class="modal-body">
                    Same players?
                </div>
                <div class="modal-footer">
                    <button ng-show="stillPlayersInTheGame" id="btn-cancel-newPlayers" type="button" class="btn btn-default btn-cancel pull-left" ng-click="btnCancel()">Cancel</button>
                    <button id="btn-no-newPlayers" type="button" class="btn btn-default" ng-click="btnNo()">No</button>
                    <button id="btn-yes-newPlayers" type="button" class="btn btn-default" ng-click="btnYes()">Yes</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal new players -->

        <!-- Modal confirm -->
        <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-confirm">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel"></h2>
                </div>
                <div class="modal-body" >
                   Are you sure?       
                </div>
                <div class="modal-footer" >
                    <button id="btn-no-confirm" type="button" class="btn btn-default" ng-click="btnNo()">No</button>
                    <button id="btn-yes-confirm" type="button" class="btn btn-default" ng-click="btnYes()">Yes</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal confirm -->

        <!-- Modal restoreGame -->
        <div class="modal fade" id="restoreGame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-restoreGame">
          <div class="modal-dialog modal-md modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Restore game?</h2>
                </div>
                <div class="modal-body" >
                   Last played game ended without a winner. 
                   <br><br>
                   Do you want to restore this game?       
                </div>
                <div class="modal-footer" >
                    <button id="btn-no-confirm" type="button" class="btn btn-default" ng-click="btnNo()">No</button>
                    <button id="btn-yes-confirm" type="button" class="btn btn-default" ng-click="btnYes()">Yes</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal restoreGame -->

         <!-- Modal tutorialIntro -->
        <div class="modal fade" id="modalTutorialIntro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="myModalLabel">Tutorial</h2>
                </div>
                <div class="modal-body" >
                    <p>
                       For the tutorial we've started a game with two players, named Bob & Sara.  
                    </p>
                    <p>
                        You can <strong>navigate</strong> through the tutorial either by following the instructions or by use of the arrows on the bottom of the screen.
                    </p>
                    <p>
                        You can <strong>exit</strong> the tutorial anytime by selecting the options icon at the top right of the screen.
                    </p>
                </div>
                <div class="modal-footer" >
                    <button data-dismiss="modal" id="btn-start-tutorial" type="button" class="btn btn-default" >Start tutorial</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal tutorialIntro -->

        <!-- Modal bosklappers -->
        <div class="modal fade" id="modalBosklappers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="angular-modal-bosklappers">
          <div class="modal-dialog modal-sm modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Bosklappers activated!</h2>
                </div>
                <div class="modal-footer" >
                    <button id="btn-cancel-bosklappers" type="button" class="btn btn-default btn-cancel pull-left" ng-click="btnCancel()">Cancel</button>
                    <button id="btn-ok-bosklappers" type="button" class="btn btn-default" ng-click="btnOk()">Ok</button>
                </div>
            </div>
          </div>
        </div> <!-- end Modal bosklappers -->

        <table id="mainTable" ng-controller="angular-gameBoard">
            <tr>
                <td class="td-colspanned" colspan="5">
                    <table id="scoreTable" ng-click="showScoreboard()">
                        <tr>
                            <td id="score-table-item-{{player.index}}" ng-repeat="player in players|rangeFirstRow" ng-class="{active: player.myTurn,disqualified: player.disqualified}" class="score-table-item">
                                <p class='playerName'>{{player.name}}</p>
                                <p class="score" ng-class="{first: $index == 0}">{{player.score}}</p>
                                <p class='misses' ng-show="player.misses == 1">x</p>
                                <p class='misses' ng-show="player.misses == 2">xx</p>
                            </td>
                        </tr>
                        <tr ng-hide="players.length < 5">
                            <td id="score-table-item-{{player.index}}" ng-repeat="player in players|rangeSecondRow" ng-class="{active: player.myTurn,disqualified: player.disqualified}" class="score-table-item">
                                <p class='playerName'>{{player.name}}</p>
                                <p class="score" ng-class="{first: $index == 0}">{{player.score}}</p>
                                <p class='misses' ng-show="player.misses == 1">x</p>
                                <p class='misses' ng-show="player.misses == 2">xx</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td id="td-options" ng-click="options()"><img src="images/options.png" alt="options"/></td>
            </tr>
            <tr>
                <td id="td-player-name" class="td-colspanned" colspan="5" ng-click="processThrow()">
                    <span class="icon-right-open-outline pull-left"></span>
                    <p>{{activePlayer.name}}</p>

                </td>
                <td id="td-0" class="td-score-number" ng-click="toggleNumber(0)">0</td>
            </tr>
            <tr id="xs-tr-1">
                <td id="td-1" class="td-score-number" ng-click="toggleNumber(1)">1</td>
                <td id="td-2" class="td-score-number" ng-click="toggleNumber(2)">2</td>
                <td id="td-3" class="td-score-number" ng-click="toggleNumber(3)">3</td>
                <td id="td-4" class="xs-td-row-2 td-score-number" ng-click="toggleNumber(4)">4</td>
                <td id="td-5" class="xs-td-row-2 td-score-number" ng-click="toggleNumber(5)">5</td>
                <td id="td-6" class="xs-td-row-2 td-score-number" ng-click="toggleNumber(6)">6</td>
            </tr>
            <tr id="xs-tr-3">
                <td id="td-7" class="td-score-number" ng-click="toggleNumber(7)">7</td>
                <td id="td-8" class="td-score-number" ng-click="toggleNumber(8)">8</td>
                <td id="td-9" class="td-score-number" ng-click="toggleNumber(9)">9</td>
                <td id="td-10" class="xs-td-row-4 td-score-number" ng-click="toggleNumber(10)">10</td>
                <td id="td-11" class="xs-td-row-4 td-score-number" ng-click="toggleNumber(11)">11</td>
                <td id="td-12" class="xs-td-row-4 td-score-number" ng-click="toggleNumber(12)">12</td>
            </tr>
            <tr ng-if="tutorial">
                <td id="td-tutorial" colspan="6" ng-class="{firstStep: tutorialData.step == 1, lastStep: tutorialData.step == 6}">
                    <div class="arrow__container arrow__container--left" ng-click="nextStep()" ng-hide="tutorialData.step == 6">
                        <div  class="arrow arrow--left" ng-class="{disabled: tutorialInProcess}"></div>
                    </div>
                    <div class="arrow__container arrow__container--right" ng-click="prevStep()" ng-hide="tutorialData.step == 1" >
                        <div class="arrow arrow--right" ng-class="{disabled: tutorialInProcess}"></div>
                    </div>
                    <div class="tutorial__content"><p>{{stepText}}</p></div>
                </td>
            </tr>
        </table>
          
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/angular.min.js"></script>
        <script src="scripts/vendor/bootstrap3-typeahead.min.js"></script>
        <script src="scripts/bootstrap/modal.js"></script>
        <script src="scripts/bootstrap/tab.js"></script>
        <script src="scripts/bootstrap/transition.js"></script> 
        <script src="scripts/utilities.js"></script>
        <script src="scripts/positioning.js"></script>
        <script src="scripts/translations.js"></script>
        <script src="scripts/angular/base/angular-app.js"></script>
        <script src="scripts/angular/angular-controller-addPlayer.js"></script>
        <script src="scripts/angular/angular-controller-start.js"></script>
        <script src="scripts/angular/angular-controller-gameBoard.js"></script>
        <script src="scripts/angular/angular-controller-scoreboard.js"></script>
        <script src="scripts/angular/angular-controller-newPlayers.js"></script>
        <script src="scripts/angular/angular-controller-options.js"></script>
        <script src="scripts/angular/angular-controller-confirm.js"></script>
        <script src="scripts/angular/angular-controller-restoreGame.js"></script>
        <script src="scripts/angular/angular-controller-bosklappers.js"></script>
        <!--
        <script async src="scripts/dist/script.js"></script>  
        -->
    </body>
</html>