#mainTable{
	/* height determined by positioning.js */
	display:none;
	width:98%;
	margin:0 auto;
	font-size:$mediumSmallFont;
	line-height: $mediumSmallFont;
	border-collapse: separate;
    border-spacing: 10px;
    td{
    	position:relative;
		background-color:$darkColor;
		color:$lightColor;
		width:15%;
		text-align: center;
		border:1px solid $lightColor;
		@include border-radius(6px);
		@include transition(200ms);
	}
	td.td-score-number, td#td-options{
		&:hover{
			cursor:pointer;
		}
	}
	.td-score-number.active{
		background-color:$accentColor;
		border-color:$accentColor;
	}
	#td-player-name{
		p{
			position:absolute;
			bottom: 0px;
			height:70%;
			width:100%;
			padding:0px 5px;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space: nowrap;
		}
		&.active{
			background-color:$alertColor;
			border-color:$alertColor;
		}
		&:hover{
			cursor:pointer;
		}
	}
	img{
		width:35px;
	}
}

@media (min-width:768px) { 
	#mainTable{
		/* height determined by positioning.js */
		width:95%;
		font-size:$bigFont;
		line-height: $bigFont;
	    border-spacing: 15px;
	    img{
			width:60px;
		}
	}
}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 
	
}