#mainTable{
	/* height determined by positioning.js */
	display:none;
	width:98%;
	margin:0 auto;
	font-size:$mediumSmallFont;
	line-height: $mediumSmallFont;
	border-collapse: separate;
    border-spacing: 10px;
    td{
    	position:relative;
		background-color:$darkColor;
		color:$lightColor;
		width:15%;
		text-align: center;
		border:1px solid $lightColor;
		@include border-radius(6px);
		@include transition(200ms);
	}
	.td-score-number, #td-options,#td-player-name.active{
		&:hover{
			cursor:pointer;
		}
	}
	.td-score-number.active{
		background-color:$accentColor;
		border-color:$accentColor;
	}
	#td-options img{
		width:35px;
	}
	#td-player-name{
		.icon-right-open-outline{
			opacity:0;
			font-family: "fontello";
			content: '\00a0\e802';
			@include transition(200ms);
		}
		&.active{
			background-color:$alertColor;
			border-color:$alertColor;
			.icon-right-open-outline{
				opacity:1;
				@include transition(200ms,200ms);
			}
			p{
				width:90%;
				@include transition(200ms);
			}
		}
		p{
			position:absolute;
			bottom: 0px;
			height:70%;
			width:100%;
			padding:0px 5px;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space: nowrap;
			@include transition(200ms,200ms);
		}
	}
}

@media (min-width:768px) { 
	#mainTable{
		/* height determined by positioning.js */
		width:95%;
		font-size:$bigFont;
		line-height: $bigFont;
	    border-spacing: 15px;
	    #td-options img{
			width:60px;
		}
	}
}