#mainTable{
	/* height determined by positioning.js */
	display:none;
	width:98%;
	margin:0 auto;
	font-size:$mediumSmallFont;
	line-height: $mediumSmallFont;
	border-collapse: separate;
    border-spacing: 10px;
    @include user-select-none();
    tr{
    	@include user-select-none();
    }
    td{
    	position:relative;
		background-color:$darkColor;
		color:$lightColor;
		width:15%;
		text-align: center;
		border:1px solid $lightColor;
		@include border-radius(6px);
		@include user-select-none();
	}
	.td-score-number, #td-options,#td-player-name.active{
		&:hover{
			cursor:pointer;
		}
	}
	.td-score-number{
		&.active{
			background-color:$accentColor;
			border-color:$accentColor;
		}
	}
		
	#td-options img{
		width:35px;
	}
	#td-player-name{
		.icon-right-open-outline{
			opacity:0;
			font-family: "fontello";
			content: '\00a0\e802';
		}
		&.active{
			background-color:$alertColor;
			border-color:$alertColor;
			.icon-right-open-outline{
				opacity:1;
			}
		}
		p{
			position:absolute;
			left:12%;
			line-height: 100%; //centers vertically
			width:80%;
			padding:0px 5px;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space: nowrap;
		}
	}
}
/* begin: bosklapper stuff */
#td-0{
	&.billyHalf, &.billySuper{
		background-color: $alertColor;
	}
}
/* end: bosklapper stuff */

@media (min-width:768px) { 
	#mainTable{
		/* height determined by positioning.js */
		width:95%;
		font-size:$bigFont;
		line-height: $bigFont;
	    border-spacing: 15px;
	    #td-options img{
			width:60px;
		}
	}
}