#mainTable{
	/* height determined by positioning.js */
	display:none;
	width:95%;
	margin:0 auto;
	font-size:$bigFont;
	border-collapse: separate;
    border-spacing: 15px;
    td{
    	position:relative;
		background-color:$darkColor;
		color:$lightColor;
		width:15%;
		text-align: center;
		border:1px solid $lightColor;
		@include border-radius(6px);
		@include transition(200ms);
	}
	td.td-score-number, td#td-options{
		&:hover{
			cursor:pointer;
		}
	}
	.td-colspanned{
		font-family:$regularFontFamily;
	}
	.td-score-number.active{
		background-color:$accentColor;
		border-color:$accentColor;
	}
	#td-player-name.active{
		background-color:$alertColor;
		border-color:$alertColor;
	}
	#td-player-name.active:hover{
		cursor:pointer;
	}
}