.modal {
	font-family:$regularFontFamily;
	
	.modal-content{
		@include border-radius(6px);
	}
	.modal-header{
		margin-bottom:15px;
		color:$lightColor;
		background-color:$darkColor;
		border:1px solid $lightColor;
		border-bottom:none;
		@include border-top-radius(5px);
	}
	.modal-footer{
		border-top:none;
	}
	.list-group{
		margin:0px;
	}
	button.close{
		opacity:0.8;
		font-size:inherit;
		color:$alertColor;
	}
	li.winner:after{
		content: ' - winner';
		color:$alertColor;
		font-size:$smallFont;
	}
	.alert{
		color:$alertColor;
		border:none;
		background-color: $lightColor;
		padding:0px 15px;
		margin:0px;
		display:none;
	}
	.form-control{
		color:$darkColor;
		border:1px solid $darkColor;
		border-right:none;
		box-shadow: none;
	}
	.btn-primary{
		background-color: $accentColor;
		border-color:$accentColor;
	}
	.btn-default{
		font-family:$mediumFontFamily;
		background-color: $lightColor;
		border-color:$darkColor;
	}
	.btn-icon-only{
		border:none;
		outline:thin dotted;
		outline-offset: -2px;
	}
	.input-group-addon{
		color:$lightColor;
		background-color:$accentColor;
		border-color:$darkColor;
	}
	.list-group-item{
		border:none;
	}
	.icon-plus{
	  line-height: 1;
	}
	.icon-plus:hover{
		cursor:pointer;
	}
	table{
		height:100%;
		width:100%;
		border-collapse: collapse;
		border:1px solid $darkColor;
		border-bottom: 0px;
		tr:nth-child(odd){
			background-color: rgb(230,230,230);
		}
		td,th{
			text-align:center;
			padding:5px;
			border-left: 1px solid $darkColor;
		}
		th{
			font-family: $mediumFontFamily;
			border-bottom: 1px solid $darkColor;
			background-color: $lightColor;
			padding:10px;
		}
	}
}
