/* line 5, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Champion-bold;
  src: url(../fonts/NationalChampion-Bold.woff), url(../fonts/NationalChampion-Bold.otf) format("opentype");
}
@font-face {
  font-family: Champion-regular;
  src: url(../fonts/NationalChampion-Regular.woff), url(../fonts/NationalChampion-Regular.otf) format("opentype");
}
@font-face {
  font-family: Champion-medium;
  src: url(../fonts/NationalChampion-Medium.woff), url(../fonts/NationalChampion-Medium.otf) format("opentype");
}
/*mixins*/
/* line 1, ../sass/partials/general/_modals.scss */
.modal {
  font-family: "Champion-Regular", sans-serif;
}
/* line 4, ../sass/partials/general/_modals.scss */
.modal .modal-content {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 7, ../sass/partials/general/_modals.scss */
.modal .modal-header {
  margin-bottom: 15px;
  color: #FFFFFF;
  background-color: #2E2E2E;
  border: 1px solid #FFFFFF;
  border-bottom: none;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
/* line 15, ../sass/partials/general/_modals.scss */
.modal .modal-footer {
  border-top: none;
}
/* line 18, ../sass/partials/general/_modals.scss */
.modal .list-group {
  margin: 0px;
}
/* line 21, ../sass/partials/general/_modals.scss */
.modal button.close {
  opacity: 0.8;
  font-size: inherit;
  color: #E60000;
}
/* line 26, ../sass/partials/general/_modals.scss */
.modal .alert {
  color: #E60000;
  border: none;
  background-color: #FFFFFF;
  padding: 0px 15px;
  margin: 0px;
  display: none;
}
/* line 34, ../sass/partials/general/_modals.scss */
.modal .form-control {
  color: #2E2E2E;
  border: 1px solid #2E2E2E;
  border-right: none;
  box-shadow: none;
}
/* line 40, ../sass/partials/general/_modals.scss */
.modal .btn-primary {
  background-color: #1275B3;
  border-color: #1275B3;
}
/* line 44, ../sass/partials/general/_modals.scss */
.modal .btn-default {
  font-family: "Champion-Medium", sans-serif;
  background-color: #FFFFFF;
  border-color: #2E2E2E;
}
/* line 49, ../sass/partials/general/_modals.scss */
.modal .btn-icon-only {
  border: none;
  outline: thin dotted;
  outline-offset: -2px;
}
/* line 54, ../sass/partials/general/_modals.scss */
.modal .input-group-addon {
  color: #FFFFFF;
  background-color: #1275B3;
  border-color: #2E2E2E;
}
/* line 59, ../sass/partials/general/_modals.scss */
.modal .list-group-item {
  border-color: #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 63, ../sass/partials/general/_modals.scss */
.modal .icon-plus {
  line-height: 1;
}
/* line 66, ../sass/partials/general/_modals.scss */
.modal .icon-plus:hover {
  cursor: pointer;
}

/* line 1, ../sass/partials/gameboard/_base.scss */
#mainTable {
  /* height determined by positioning.js */
  display: none;
  width: 98%;
  margin: 0 auto;
  font-size: 25px;
  line-height: 25px;
  border-collapse: separate;
  border-spacing: 10px;
}
/* line 10, ../sass/partials/gameboard/_base.scss */
#mainTable td {
  position: relative;
  background-color: #2E2E2E;
  color: #FFFFFF;
  width: 15%;
  text-align: center;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  -o-transition: all 200ms ease-out 0s;
  -ms-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
}
/* line 21, ../sass/partials/gameboard/_base.scss */
#mainTable td.td-score-number:hover, #mainTable td#td-options:hover {
  cursor: pointer;
}
/* line 25, ../sass/partials/gameboard/_base.scss */
#mainTable .td-score-number.active {
  background-color: #1275B3;
  border-color: #1275B3;
}
/* line 30, ../sass/partials/gameboard/_base.scss */
#mainTable #td-player-name p {
  position: absolute;
  bottom: 0px;
  height: 70%;
  width: 100%;
  padding: 0px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 40, ../sass/partials/gameboard/_base.scss */
#mainTable #td-player-name.active {
  background-color: #E60000;
  border-color: #E60000;
}
/* line 44, ../sass/partials/gameboard/_base.scss */
#mainTable #td-player-name:hover {
  cursor: pointer;
}
/* line 48, ../sass/partials/gameboard/_base.scss */
#mainTable img {
  width: 35px;
}

@media (min-width: 768px) {
  /* line 54, ../sass/partials/gameboard/_base.scss */
  #mainTable {
    /* height determined by positioning.js */
    width: 95%;
    font-size: 40px;
    line-height: 40px;
    border-spacing: 15px;
  }
  /* line 60, ../sass/partials/gameboard/_base.scss */
  #mainTable img {
    width: 60px;
  }
}
/* line 1, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable {
  table-layout: fixed;
  font-family: "Champion-Regular", sans-serif;
  font-size: 15px;
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}
/* line 9, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable:hover {
  cursor: pointer;
}
/* line 12, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable .score-table-item {
  border: 2px solid #2E2E2E;
}
/* line 14, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable .score-table-item p.score {
  border-left: 1px solid #FFFFFF;
}
/* line 16, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable .score-table-item p.score.first {
  border-left: 0px;
}
/* line 20, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable .score-table-item p.misses {
  position: absolute;
  width: 100%;
  bottom: 3px;
  font-size: 10px;
  line-height: 10px;
  color: #E60000;
}
/* line 28, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable .score-table-item p.playerName {
  display: none;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  padding: 3px;
  position: absolute;
  top: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 40, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable .score-table-item.active {
  border-color: #1275B3;
}
/* line 42, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable .score-table-item.active + td p.score, td p.score + #scoreTable .score-table-item.active, #scoreTable .score-table-item.active p.score, #scoreTable .score-table-item.active div.borderDiv {
  border: 0px;
}
/* line 46, ../sass/partials/gameboard/_scoreTable.scss */
#scoreTable .score-table-item.disqualified {
  color: #E60000;
}

@media (min-width: 768px) {
  /* line 53, ../sass/partials/gameboard/_scoreTable.scss */
  #scoreTable {
    font-size: 40px;
  }
  /* line 55, ../sass/partials/gameboard/_scoreTable.scss */
  #scoreTable .score-table-item {
    border: 5px solid #2E2E2E;
  }
  /* line 57, ../sass/partials/gameboard/_scoreTable.scss */
  #scoreTable .score-table-item p.misses {
    bottom: 5px;
    font-size: 20px;
    line-height: 20px;
  }
  /* line 62, ../sass/partials/gameboard/_scoreTable.scss */
  #scoreTable .score-table-item p.playerName {
    display: block;
  }
}
/* line 2, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .modal-header {
  padding: 7px;
  padding-bottom: 0px;
}
/* line 5, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .modal-header .nav-tabs {
  border-bottom: 0px;
}
/* line 7, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .modal-header .nav-tabs li a {
  color: #FFFFFF;
  font-size: 12px;
}
/* line 10, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .modal-header .nav-tabs li a:hover {
  background-color: #2E2E2E;
}
/* line 13, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .modal-header .nav-tabs li a:active, #modalScoreboard .modal-header .nav-tabs li a:focus, #modalScoreboard .modal-header .nav-tabs li a:visited {
  outline: none;
}
/* line 17, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .modal-header .nav-tabs li.active a {
  color: #2E2E2E;
}
/* line 19, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .modal-header .nav-tabs li.active a:hover {
  background-color: #FFFFFF;
}
/* line 24, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .modal-header .close {
  padding: 10px;
}
/* line 28, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard .btn {
  font-size: 12px;
  padding: 4px 8px;
}
/* line 33, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
/* line 39, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table tr:nth-child(odd) {
  background-color: #E6E6E6;
}
/* line 44, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table td, #modalScoreboard #detailedPane table th {
  text-align: center;
  padding: 5px;
}
/* line 48, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table th {
  font-family: "Champion-Medium", sans-serif;
  border-bottom: 1px solid #2E2E2E;
  background-color: #FFFFFF;
  padding: 10px;
  border: 2px solid #2E2E2E;
}
/* line 54, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table th p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 60, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table th.winner p:after {
  font-family: "fontello";
  content: '\00a0\e800';
  color: #1275B3;
}
/* line 67, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table td {
  border-left: 1px solid #2E2E2E;
  border-right: 1px solid #2E2E2E;
}
/* line 70, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table td.empty {
  border: 0px;
  background-color: #FFFFFF;
}
/* line 74, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table td.out {
  font-family: "Champion-Medium", sans-serif;
  border-bottom: 1px solid #2E2E2E;
}
/* line 78, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #detailedPane table td.disqualified {
  font-family: "Champion-Medium", sans-serif;
  color: #E60000;
  border-bottom: 1px solid #2E2E2E;
}
/* line 89, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #concisePane li p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  line-height: 16px;
}
/* line 96, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #concisePane li.winner {
  font-family: "Champion-Medium", sans-serif;
}
/* line 98, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #concisePane li.winner p:after {
  font-family: "fontello";
  content: '\00a0\e800';
  color: #1275B3;
}
/* line 105, ../sass/partials/modals/_scoreboard.scss */
#modalScoreboard #concisePane span.disqualified {
  font-family: "Champion-Medium", sans-serif;
  color: #E60000;
}

@media (min-width: 360px) {
  /* line 116, ../sass/partials/modals/_scoreboard.scss */
  #modalScoreboard .modal-header .nav-tabs li a {
    font-size: 15px;
  }
  /* line 121, ../sass/partials/modals/_scoreboard.scss */
  #modalScoreboard .btn {
    font-size: 15px;
    padding: 6px 12px;
  }
}
/* line 2, ../sass/partials/modals/_newPlayers.scss */
#modalNewPlayers #btn-cancel-newPlayers {
  border: 0px;
  padding-left: 0px;
  font-family: "Champion-Regular", sans-serif;
  color: #1275B3;
}

/*
   Animation example, for spinners
*/
/* line 4, ../sass/partials/_animations.scss */
.animate-spin {
  -moz-animation: spin 1.5s cubic-bezier(0, 0, 0.19, 1.17);
  -o-animation: spin 1.5s cubic-bezier(0, 0, 0.19, 1.17);
  -webkit-animation: spin 1.5s cubic-bezier(0, 0, 0.19, 1.17);
  animation: spin 1.5s cubic-bezier(0, 0, 0.19, 1.17);
  display: inline-block;
}

/* line 12, ../sass/partials/_animations.scss */
li.animate-enter {
  transform: translateX(50px);
  -moz-animation: openspace 0.3s ease forwards, animate-enter-animation 0.3s cubic-bezier(0, 0, 0.19, 1.17) forwards;
  -o-animation: openspace 0.3s ease forwards, animate-enter-animation 0.3s cubic-bezier(0, 0, 0.19, 1.17) forwards;
  -webkit-animation: openspace 0.3s ease forwards, animate-enter-animation 0.3s cubic-bezier(0, 0, 0.19, 1.17) forwards;
  animation: openspace 0.3s ease forwards, animate-enter-animation 0.3s cubic-bezier(0, 0, 0.19, 1.17) forwards;
}

@keyframes openspace {
  to {
    height: auto;
  }
}
@keyframes animate-enter-animation {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* #td-player-name.active,.animate-pulse{
  -moz-animation: pulse 2s infinite ease-in-out 400ms;
  -o-animation: pulse 2s infinite ease-in-out 400ms;
  -webkit-animation: pulse 2s infinite ease-in-out 400ms;
  animation: pulse pulse 2s infinite ease-in-out 400ms;
} */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
@-webkit-keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
@-o-keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
@-ms-keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
@keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
/* line 11, ../sass/mainStyle.scss */
body {
  font-family: "Champion-Medium", sans-serif;
  background-color: #2E2E2E;
  color: #2E2E2E;
  	/*
  	background:url('../images/wood_texture-7.jpg');
  	background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      */
}
