/* line 5, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Champion-bold;
  src: url(../fonts/NationalChampion-Bold.woff), url(../fonts/NationalChampion-Bold.otf) format("opentype");
}
@font-face {
  font-family: Champion-regular;
  src: url(../fonts/NationalChampion-Regular.woff), url(../fonts/NationalChampion-Regular.otf) format("opentype");
}
@font-face {
  font-family: Champion-medium;
  src: url(../fonts/NationalChampion-Medium.woff), url(../fonts/NationalChampion-Medium.otf) format("opentype");
}
/*mixins*/
/* line 1, ../sass/partials/_tables.scss */
table#mainTable {
  /* height determined by positioning.js */
  display: none;
  width: 95%;
  margin: 0 auto;
  font-size: 50px;
  border-collapse: separate;
  border-spacing: 15px;
}
/* line 9, ../sass/partials/_tables.scss */
table#mainTable td {
  position: relative;
  background-color: #2E2E2E;
  color: #FFFFFF;
  width: 15%;
  text-align: center;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  -o-transition: all 200ms ease-out 0s;
  -ms-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
}
/* line 20, ../sass/partials/_tables.scss */
table#mainTable td.td-score-number:hover, table#mainTable td#td-options:hover {
  cursor: pointer;
}
/* line 24, ../sass/partials/_tables.scss */
table#mainTable .td-colspanned {
  font-family: "Champion-Regular", sans-serif;
}
/* line 27, ../sass/partials/_tables.scss */
table#mainTable .td-score-number.active {
  background-color: #1275B3;
  border-color: #1275B3;
}
/* line 31, ../sass/partials/_tables.scss */
table#mainTable #td-player-name.active {
  background-color: #E60000;
  border-color: #E60000;
}
/* line 35, ../sass/partials/_tables.scss */
table#mainTable .score-table-item.active {
  border-color: #E60000;
}
/* line 38, ../sass/partials/_tables.scss */
table#mainTable .score-table-item.disqualified {
  color: #E60000;
}
/* line 41, ../sass/partials/_tables.scss */
table#mainTable .score-table-item p.misses {
  position: absolute;
  left: 1px;
  bottom: 1px;
  font-size: 30px;
  color: #E60000;
}
/* line 49, ../sass/partials/_tables.scss */
table#mainTable #td-player-name.active:hover {
  cursor: pointer;
}

/* line 54, ../sass/partials/_tables.scss */
table#scoreTable {
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}
/* line 59, ../sass/partials/_tables.scss */
table#scoreTable td {
  border: 5px solid #2E2E2E;
}

/* line 1, ../sass/partials/_modals.scss */
.modal {
  font-family: "Champion-Regular", sans-serif;
}
/* line 4, ../sass/partials/_modals.scss */
.modal .modal-content {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 7, ../sass/partials/_modals.scss */
.modal .modal-header {
  margin-bottom: 15px;
  color: #FFFFFF;
  background-color: #2E2E2E;
  border: 1px solid #FFFFFF;
  border-bottom: none;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
/* line 15, ../sass/partials/_modals.scss */
.modal .modal-footer {
  border-top: none;
}
/* line 18, ../sass/partials/_modals.scss */
.modal .list-group {
  margin: 0px;
}
/* line 21, ../sass/partials/_modals.scss */
.modal button.close {
  opacity: 0.8;
  font-size: inherit;
  color: #E60000;
}
/* line 26, ../sass/partials/_modals.scss */
.modal li.winner:after {
  content: ' - winner';
  color: #E60000;
  font-size: 10px;
}
/* line 31, ../sass/partials/_modals.scss */
.modal .alert {
  color: #E60000;
  border: none;
  background-color: #FFFFFF;
  padding: 0px 15px;
  margin: 0px;
  display: none;
}
/* line 39, ../sass/partials/_modals.scss */
.modal .form-control {
  color: #2E2E2E;
  border: 1px solid #2E2E2E;
  border-right: none;
  box-shadow: none;
}
/* line 45, ../sass/partials/_modals.scss */
.modal .btn-primary {
  background-color: #1275B3;
  border-color: #1275B3;
}
/* line 49, ../sass/partials/_modals.scss */
.modal .btn-default {
  font-family: "Champion-Medium", sans-serif;
  background-color: #FFFFFF;
  border-color: #2E2E2E;
}
/* line 54, ../sass/partials/_modals.scss */
.modal .btn-icon-only {
  border: none;
  outline: thin dotted;
  outline-offset: -2px;
}
/* line 59, ../sass/partials/_modals.scss */
.modal .input-group-addon {
  color: #FFFFFF;
  background-color: #1275B3;
  border-color: #2E2E2E;
}
/* line 64, ../sass/partials/_modals.scss */
.modal .list-group-item {
  border: none;
}
/* line 67, ../sass/partials/_modals.scss */
.modal .icon-plus {
  line-height: 1;
}
/* line 70, ../sass/partials/_modals.scss */
.modal .icon-plus:hover {
  cursor: pointer;
}
/* line 73, ../sass/partials/_modals.scss */
.modal table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #2E2E2E;
  border-bottom: 0px;
}
/* line 79, ../sass/partials/_modals.scss */
.modal table tr:nth-child(odd) {
  background-color: #e6e6e6;
}
/* line 82, ../sass/partials/_modals.scss */
.modal table td, .modal table th {
  text-align: center;
  padding: 5px;
  border-left: 1px solid #2E2E2E;
}
/* line 87, ../sass/partials/_modals.scss */
.modal table th {
  font-family: "Champion-Medium", sans-serif;
  border-bottom: 1px solid #2E2E2E;
  background-color: #FFFFFF;
  padding: 10px;
}

/*
   Animation example, for spinners
*/
/* line 4, ../sass/partials/_animations.scss */
.animate-spin {
  -moz-animation: spin 1.5s cubic-bezier(0, 0, 0.19, 1.17);
  -o-animation: spin 1.5s cubic-bezier(0, 0, 0.19, 1.17);
  -webkit-animation: spin 1.5s cubic-bezier(0, 0, 1.17);
  animation: spin 1.5s cubic-bezier(0, 0, 0.19, 1.17);
  display: inline-block;
}

/* #td-player-name.active,.animate-pulse{
  -moz-animation: pulse 2s infinite ease-in-out 400ms;
  -o-animation: pulse 2s infinite ease-in-out 400ms;
  -webkit-animation: pulse 2s infinite ease-in-out 400ms;
  animation: pulse pulse 2s infinite ease-in-out 400ms;
} */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
@-webkit-keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
@-o-keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
@-ms-keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
@keyframes pulse {
  0% {
    background-color: #e60000;
    border-color: #e60000;
  }
  50% {
    background-color: rgba(230, 0, 0, 0.6);
    border-color: rgba(230, 0, 0, 0.6);
  }
  100% {
    background-color: #e60000;
    border-color: #e60000;
  }
}
/* line 8, ../sass/mainStyle.scss */
body {
  font-family: "Champion-Medium", sans-serif;
  background-color: #2E2E2E;
  color: #2E2E2E;
  	/*
  	background:url('../images/wood_texture-7.jpg');
  	background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      */
}
