/* line 5, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Champion-bold;
  src: url(../fonts/NationalChampion-Bold.woff), url(../fonts/NationalChampion-Bold.otf) format("opentype");
}
@font-face {
  font-family: Champion-regular;
  src: url(../fonts/NationalChampion-Regular.woff), url(../fonts/NationalChampion-Regular.otf) format("opentype");
}
@font-face {
  font-family: Champion-medium;
  src: url(../fonts/NationalChampion-Medium.woff), url(../fonts/NationalChampion-Medium.otf) format("opentype");
}
/*rgb(45, 189, 225)*/
/*mixins*/
/* line 1, ../sass/partials/_tables.scss */
table#mainTable {
  /* height determined by positioning.js */
  display: none;
  width: 95%;
  margin: 0 auto;
  font-size: 50px;
  border-collapse: separate;
  border-spacing: 15px;
}
/* line 9, ../sass/partials/_tables.scss */
table#mainTable td {
  position: relative;
  background-color: #020000;
  color: #FFFFFF;
  width: 15%;
  text-align: center;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
/* line 18, ../sass/partials/_tables.scss */
table#mainTable td.td-score-number:hover {
  cursor: pointer;
}
/* line 21, ../sass/partials/_tables.scss */
table#mainTable td#td-settings:hover {
  background-color: #FFFFFF;
  border-color: #020000;
  color: #020000;
}
/* line 26, ../sass/partials/_tables.scss */
table#mainTable .td-colspanned {
  font-family: "Champion-Regular", sans-serif;
}
/* line 29, ../sass/partials/_tables.scss */
table#mainTable .td-score-number.active {
  background-color: #2DBDE1;
  border-color: #2DBDE1;
}
/* line 33, ../sass/partials/_tables.scss */
table#mainTable #td-player-name.active {
  background-color: #2DBDE1;
  border-color: #2DBDE1;
}
/* line 37, ../sass/partials/_tables.scss */
table#mainTable .score-table-item.active {
  background-color: #2DBDE1;
  border-color: #2DBDE1;
}
/* line 41, ../sass/partials/_tables.scss */
table#mainTable .score-table-item.disqualified {
  color: #D82A25;
}
/* line 44, ../sass/partials/_tables.scss */
table#mainTable .score-table-item p.misses {
  position: absolute;
  left: 1px;
  bottom: 1px;
  font-size: 30px;
  color: #D82A25;
}
/* line 52, ../sass/partials/_tables.scss */
table#mainTable #td-player-name.active:hover {
  cursor: pointer;
}

/* line 57, ../sass/partials/_tables.scss */
table#scoreTable {
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/partials/_modals.scss */
.modal {
  font-family: "Champion-Regular", sans-serif;
}
/* line 4, ../sass/partials/_modals.scss */
.modal .modal-content {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
/* line 7, ../sass/partials/_modals.scss */
.modal .modal-header {
  margin-bottom: 15px;
  color: #FFFFFF;
  background-color: #020000;
  border: 1px solid #FFFFFF;
  border-bottom: none;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
/* line 15, ../sass/partials/_modals.scss */
.modal .modal-footer {
  border-top: none;
}
/* line 18, ../sass/partials/_modals.scss */
.modal .list-group {
  margin: 0px;
}
/* line 21, ../sass/partials/_modals.scss */
.modal button.close {
  opacity: 0.8;
  font-size: inherit;
  color: #D82A25;
}
/* line 26, ../sass/partials/_modals.scss */
.modal .alert {
  color: #D82A25;
  border: none;
  background-color: #FFFFFF;
  padding: 0px 15px;
  margin: 0px;
  display: none;
}
/* line 34, ../sass/partials/_modals.scss */
.modal .form-control {
  color: #020000;
  border: 1px solid #020000;
  border-right: none;
  box-shadow: none;
}
/* line 40, ../sass/partials/_modals.scss */
.modal .btn-primary {
  background-color: #2DBDE1;
  border-color: #2DBDE1;
}
/* line 44, ../sass/partials/_modals.scss */
.modal .btn-default {
  font-family: "Champion-Medium", sans-serif;
  background-color: #FFFFFF;
  border-color: #020000;
}
/* line 49, ../sass/partials/_modals.scss */
.modal .input-group-addon {
  color: #FFFFFF;
  background-color: #2DBDE1;
  border-color: #020000;
}
/* line 54, ../sass/partials/_modals.scss */
.modal .list-group-item {
  border: none;
}
/* line 57, ../sass/partials/_modals.scss */
.modal .icon-plus {
  line-height: 1;
}
/* line 60, ../sass/partials/_modals.scss */
.modal .icon-plus:hover {
  cursor: pointer;
}

/* line 7, ../sass/mainStyle.scss */
body {
  font-family: "Champion-Medium", sans-serif;
  background-color: #020000;
  color: #020000;
  	/*
  	background:url('../images/wood_texture-7.jpg');
  	background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      */
}
