#modalScoreboard{
	.modal-header{
		padding:7px;
		padding-bottom:0px;
		.nav-tabs{
			border-bottom: 0px;
			li a{
				padding: 10px;
				color:$lightColor;
				font-size:$smallestFont;
				&:hover{
					background-color: $darkColor;
				}
				&:active,&:focus,&:visited{
					outline:none;
				}
			}
			li.active a{
				color:$darkColor;
				&:hover{
					background-color: $lightColor;
				}
			}
		}
		.close{
			padding:10px;
		}
	}
	.btn{ //smaller because of three buttons don't fit
		font-size: $smallestFont;
		padding:4px 8px;
	}
	#detailedPane{
		table{
			height:100%;
			width:100%;
			border-collapse: collapse;
			table-layout: fixed;
			tr{
				&:nth-child(odd){
					background-color: $greyColor;
				}

			}
			td,th{
				text-align:center;
				padding:5px;
			}
			th{
				font-family:$mediumFontFamily;
				border-bottom: 1px solid $darkColor;
				background-color: $lightColor;
				padding:10px;
				border: 1px solid $darkColor;
				border-bottom-width: 2px;
				p{
					text-overflow:ellipsis;
					overflow:hidden;
					white-space: nowrap;
				}
				&.winner p{
					&:after{
						font-family: "fontello";
						content: '\00a0\e800'; // \00a0 is unicode for a space
						color:$accentColor;
					}
				}
			}
			td{
				border-left: 1px solid $darkColor;
				border-right: 1px solid $darkColor;
				&.empty{
					border: 0px;
					background-color: $lightColor;
				}
				&.out{
					font-family:$mediumFontFamily;
					border-bottom:1px solid $darkColor;
				}
				&.disqualified{
					font-family:$mediumFontFamily;
					color:$alertColor;
					border-bottom:1px solid $darkColor;
				}
			}
		}
	}

	#concisePane{
		li{
			& p{
				text-overflow:ellipsis;
				overflow:hidden;
				white-space: nowrap;
				font-size: $smallerFont;
				line-height: $smallerFont + 1px;
			}
			&.winner{
				font-family:$mediumFontFamily;
				& p:after{
					font-family: "fontello";
					content: '\00a0\e800'; // \00a0 is unicode for a space
					color:$accentColor;
				}
			}
			&.second,&.third,&.fourth,&.fifth,&.sixth,&.seventh,&.eight{
				& p:after{
					font-size: $extra-smallFont;
					color:$accentColor;
				}
			}
			&.second p:after{
				content: ' - 2nd';
			}
			&.third p:after{
				content: ' - 3rd';
			}
			&.fourth p:after{
				content: ' - 4th';
			}
			&.fifth p:after{
				content: ' - 5th';
			}
			&.sixth p:after{
				content: ' - 6th';
			}
			&.seventh p:after{
				content: ' - 7th';
			}
			&.eight p:after{
				content: ' - 8th';
			}
		}
		span.disqualified{
			font-family:$mediumFontFamily;
			color:$alertColor;
		}
	}
}

@media (min-width:360px) { 
	#modalScoreboard{
		.modal-header{
			.nav-tabs{
				li a{
					padding: 10px 15px;
					font-size:$smallerFont;
				}
			}
		}
		.btn{
			font-size: $smallerFont;
			padding:6px 12px;
		}
	}
}

