
.icon-flag:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-right-open-outline:before { content: '\e802'; } /* '' */
.icon-shuffle:before { content: '\e803'; } /* '' */